{% trans_default_domain 'FOSUserBundle' %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xl-3 col-lg-4">
        <div class="m-portlet m-portlet--full-height  ">
            <div class="m-portlet__body">
                <div class="m-card-profile">
                    <div class="m-card-profile__title m--hide">
                        {{ 'user.menu.profile'|trans({}, 'messages') }}
                    </div>
                    <div class="m-card-profile__pic">
                        <div class="m-card-profile__pic-wrapper">
                            <img src="{{ asset('assets/media/img/user_avatar_2.png') }}" alt=""/>
                        </div>
                    </div>
                    <div class="m-card-profile__details">
                        <span class="m-card-profile__name">
                            {{ app.user.username }}
                        </span>
                        <a href="" class="m-card-profile__email m-link">
                            {{ app.user.email }}
                        </a>
                    </div>
                </div>
                <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                    <li class="m-nav__separator m-nav__separator--fit"></li>
                    <li class="m-nav__section m--hide">
                        <span class="m-nav__section-text">
                            Section
                        </span>
                    </li>
                    <li class="m-nav__item">
                        <a href="{{ path('fos_user_profile_edit') }}" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-profile"></i>
                            <span class="m-nav__link-title">
                                <span class="m-nav__link-wrap">
                                    <span class="m-nav__link-text">
                                        {{ 'user.menu.profile'|trans({}, 'messages') }}
                                    </span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="{{ path('fos_user_change_password') }}" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-edit"></i>
                            <span class="m-nav__link-text">
                                {{ 'user.menu.change_passaword'|trans({}, 'messages') }}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8">
        <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1"
                               role="tab">
                                <i class="flaticon-share m--hide"></i>
                                {{ 'user.menu.profile_update'|trans({}, 'messages') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="m_user_profile_tab_1">
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'm-form m-form--fit m-form--label-align-right' } }) }}
                    <div class="m-portlet__body">

                        <div class="form-group m-form__group m--margin-top-10 ">
                            {% include '_partials/_flash_messages.html.twig' %}
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-10 ml-auto">
                                <h3 class="m-form__section">
                                    {{ 'user.menu.change_passaword'|trans({}, 'messages') }}
                                </h3>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label class="col-2 col-form-label">
                                {{ form.current_password.vars.label|trans }}
                            </label>
                            <div class="col-7">
                                {{ form_widget(form.current_password, {
                                    'attr': {
                                        'class' : 'form-control m-input',
                                    }
                                }) }}
                                {{ form_errors(form.current_password) }}
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-2 col-form-label">
                                {{ form.plainPassword.first.vars.label|trans }}
                            </label>
                            <div class="col-7">
                                {{ form_widget(form.plainPassword.first, {
                                    'attr': {
                                        'class' : 'form-control m-input',
                                    }
                                }) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-2 col-form-label">
                                {{ form.plainPassword.second.vars.label|trans }}
                            </label>
                            <div class="col-7">
                                {{ form_widget(form.plainPassword.second, {
                                    'attr': {
                                        'class' : 'form-control m-input',
                                    }
                                }) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-7">
                                    <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                        {{ 'change_password.submit'|trans }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
