<div role="tabpanel" class="tab-pane active" id="geral">

    <div class="row">
        <div class="col-md-6">{{ form_row(form.title, {'attr': {'autofocus': true}}) }}</div>
        <div class="col-md-6">
            {% if item.id %}
                <div class="form-group">
                    <label for="promotion_coupon_title" class="form-control-label">
                        {{ 'promotionCoupon.fields.code'|trans }}
                    </label>
                    <div class="form-control" disabled="disabled">
                        {{ item.code }}
                    </div>
                </div>
            {% else %}
                {{ form_row(form.code) }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if item.id %}
                <div class="form-group">
                    <label for="promotion_coupon_percentage" class="form-control-label">
                        {{ 'promotionCoupon.fields.percentage'|trans }}
                    </label>
                    <div class="form-control" disabled="disabled">
                        {{ item.percentage * 100 }} %
                    </div>
                </div>
            {% else %}
                {{ form_row(form.percentage) }}
            {% endif %}
        </div>
        <div class="col-md-6">{{ form_row(form.expiresAt) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.usageLimit) }}</div>
        <div class="col-md-6">{{ form_row(form.toggleable.isEnabled) }}</div>
    </div>
</div>