<div class="form-group m-form__group row">
    <div class="col-lg-6">
        {{ form_label(form.customer.firstName, {}, {'label_attr': {'class': 'col-form-label'}}) }}
        {{ form_widget(form.customer.firstName, {
            'attr': {
                'class' : 'm-input',
            }
        }) }}
    </div>
    <div class="col-lg-6">
        {{ form_label(form.customer.lastName, {}, {'label_attr': {'class': 'col-form-label'}}) }}
        {{ form_widget(form.customer.lastName, {
            'attr': {
                'class' : 'm-input',
            }
        }) }}
    </div>
</div>
<div class="form-group m-form__group row">
    <div class="col-lg-6">
        {{ form_label(form.customer.email, {}, {'label_attr': {'class': 'col-form-label'}}) }}
        {{ form_widget(form.customer.email, {
            'attr': {
                'class' : 'm-input',
            }
        }) }}
    </div>
    <div class="col-lg-6">
        {{ form_label(form.customer.phoneNumber, {}, {'label_attr': {'class': 'col-form-label'}}) }}
        {{ form_widget(form.customer.phoneNumber, {
            'attr': {
                'class' : 'm-input maskPhoneNumber',
                'readonly' : true
            }
        }) }}
    </div>
</div>
<div id="customerAddresses"
     data-prototype="{% include 'site/schedule/_customer_address_collection.html.twig'
         with {'item': form.customer.customerAddresses.vars.prototype.address, 'prototype': true} %}">
    {% for customerAddress in form.customer.customerAddresses %}
        {% include 'site/schedule/_customer_address_collection.html.twig'
            with {'item' : customerAddress.address, 'collection': true } %}
    {% endfor %}
</div>