{% extends 'site/base.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-xl-9">
            <!--Begin::Main Portlet-->
            <div class="m-portlet">
                <!--begin: Portlet Head-->
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Carpet Cleaning Estimate
                                <small>
                                    Select Cleaning Services
                                </small>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">

                    </div>
                </div>
                <!--end: Portlet Head-->
                <!--begin: Form Wizard-->
                <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">
                    <!--begin: Message container -->
                    <div class="m-portlet__padding-x">
                        <!-- Here you can put a message or alert -->
                    </div>
                    <!--end: Message container -->
                    <!--begin: Form Wizard Head -->
                    <div class="m-wizard__head m-portlet__padding-x">
                        <div class="row">
                            <div class="col-xl-10 offset-xl-1">
                                <!--begin: Form Wizard Nav -->
                                <div class="m-wizard__nav">
                                    <div class="m-wizard__steps">
                                        <div class="m-wizard__step">
                                            <div class="m-wizard__step-info">
                                                <a href="#" class="m-wizard__step-number">
                                                    <span class="m-wizard__step-seq">
                                                        1.
                                                    </span>
                                                    <span class="m-wizard__step-label">
                                                        Services
                                                    </span>
                                                    <span class="m-wizard__step-icon">
                                                        <i class="la la-check"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="m-wizard__step m-wizard__step--current">
                                            <div class="m-wizard__step-info">
                                                <a href="#" class="m-wizard__step-number">
                                                    <span class="m-wizard__step-seq">
                                                        2.
                                                    </span>
                                                    <span class="m-wizard__step-label">
                                                        Appoitament
                                                    </span>
                                                    <span class="m-wizard__step-icon">
                                                        <i class="la la-check"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Form Wizard Nav -->
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Head -->
                    <!--begin: Form Wizard Form-->
                    <div class="m-wizard__form">
                        <!--
                            1) Use m-form--label-align-left class to alight the form input lables to the right
                            2) Use m-form--state class to highlight input control borders on form validation
                        -->
                        {{ form_start(form, {'action': path('site_schedule_step_2'),
                            'attr': {
                                'class': 'm-form m-form--label-align-left- m-form--state-',
                                'id': 'm_form',
                                'novalidate' : true
                            }}) }}
                        <!--begin: Form Body -->
                        <div class="m-portlet__body">
                            <!--begin: Form Wizard Step 1-->
                            <div class="m-wizard__form-step m-wizard__form-step--current">
                                <div class="row">
                                    <div class="col-xl-10 offset-xl-1">

                                        {{ include('_partials/_flash_messages.html.twig') }}
                                        {{ form_errors(form) }}

                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">
                                                    Arrival Time
                                                </h3>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-12">
                                                    {{ form_label(form.date, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.date, {
                                                        'attr': {
                                                            'class' : 'm-input input_datepicker',
                                                        }
                                                    }) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-6">
                                                    {{ form_label(form.startTime, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.startTime, {
                                                        'attr': {
                                                            'class' : 'm-input input_timepicker',
                                                        }
                                                    }) }}
                                                </div>
                                                <div class="col-lg-6">
                                                    {{ form_label(form.endTime, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.endTime, {
                                                        'attr': {
                                                            'class' : 'm-input input_timepicker',
                                                        }
                                                    }) }}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- check availability -->
                                        <div class="m-form__section m--hide" id="check_availability">
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-12">
                                                    <div id="check_availability_result" class="m--hide text-danger">
                                                        <span class="m-badge m-badge--danger m-badge--wide m-badge--rounded">
                                                            Schedule not available in this period.
                                                        </span>
                                                    </div>
                                                    <div class="m-loader m-loader--primary m--hide"
                                                         id="check_availability_loader"
                                                         style="width: 30px; display: inline-block;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end check availability -->

                                        <div class="m-form__section" id="client_details">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">
                                                    {% if not hasPhoneNumber %}Client Details{% else %}Details{% endif %}
                                                </h3>
                                            </div>
                                            {% if not hasPhoneNumber %}
                                                {% include 'site/schedule/customerNew.html.twig' %}
                                            {% else %}
                                                {% include 'site/schedule/customerShow.html.twig' %}
                                            {% endif %}
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-12">
                                                    {{ form_label(form.instructions, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.instructions, {
                                                        'attr': {
                                                            'class' : 'm-input',
                                                            'rows' : 5
                                                        }
                                                    }) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->
                        </div>
                        <!--end: Form Body -->
                        <!--begin: Form Actions -->
                        <div class="m-portlet__foot m-portlet__foot--fit __m--margin-top-40">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-4 m--align-left">
                                        <a href="{{ path('site_schedule_restart') }}" class="btn btn-secondary m-btn m-btn--custom m-btn--icon">
                                            <span>
                                                <i class="la la-refresh"></i>&nbsp;&nbsp;
                                                <span>Restart</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 m--align-right">
                                        <button type="submit" class="btn btn-warning m-btn m-btn--custom m-btn--icon"
                                                id="schedule_submit">
                                            <span><span>Schedule</span>&nbsp;&nbsp;<i class="la la-check"></i></span>
                                        </button>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Actions -->
                        {{ form_widget(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                    <!--end: Form Wizard Form-->
                </div>
                <!--end: Form Wizard-->
            </div>
            <!--End::Main Portlet-->
        </div>
        <div class="col-xl-3">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="m-widget1 m-widget1--paddingless">
                        <div class="m-section">
                            <h2 class="m-section__heading">
                                Appoitaments Details
                            </h2>
                        </div>

                        {% set checkout = app.request.session.get('checkout') %}

                        {% for item in checkout['items'] %}
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">
                                            {% if item['item_option'] is not null %}
                                                <small>{{ item['item_option']['title'] }}</small><br>
                                            {% endif %}
                                            {{ item['item']['title'] }}
                                            <br>
                                            <small>({{ item['item']['quantity'] }}x)</small>
                                        </h3>
                                    </div>
                                    <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        ${{ item['item']['total']|number_format }}
                                    </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Subtotal
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        ${{ checkout['subtotal']|number_format }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Discount
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        ${{ checkout['discount']|number_format }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Total Price
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        ${{ checkout['total']|number_format }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if not app.request.session.has('couponCode') %}
                        <div class="m-separator m-separator--fit"></div>
                        <form action="" method="post" novalidate="novalidate" id="form_coupon_code">
                            <div class="m-widget1 m-widget1--paddingless">
                                <div class="m-widget1__item">
                                    <div class="row m-row--no-padding align-items-center">
                                        <div class="col">
                                            <div class="form-group m-form__group" style="margin-bottom: 0">
                                                <label for="example_input_full_name">
                                                    Coupon Code
                                                </label>
                                                <input type="text" class="form-control m-input" name="coupon_code"
                                                       id="coupon_code" placeholder="Enter coupon code">
                                                <button type="submit"
                                                        class="btn btn-sm btn-accent m-btn--icon m-btn--air"
                                                        id="btn-check-coupon-code" style="margin-top: 12px">
                                                    <span><i class="fa fa-tags"></i><span>Apply</span></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                    <!--end: Form Wizard Step 4-->
                </div>
                <!--end: Form Body -->
            </div>
        </div>
    </div>

    <!-- modal phone number -->
    <form action="" method="post" class="m-form m-form--fit" id="form_phone_number" novalidate="novalidate">
        <div class="modal fade" id="modalPhoneNumber" tabindex="-1" role="basic"
             aria-labelledby="modalPhoneNumberLabel">

            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Enter your phone number</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group m-form__group" style="padding-left:0; padding-right: 0;">
                            <input type="text" class="form-control m-input maskPhoneNumber" name="phone_number"
                                   id="phone_number"
                                   required="required" aria-describedby="phoneNumber" placeholder="Enter phone number"
                                   minlength="2" maxlength="50">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air"
                                id="btn-check-phone-number">
                            <span><i class="fa fa-check"></i><span>Send</span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end modal phone number -->

{% endblock %}

{% block javascripts %}
    {% embed 'site/_partials/_block_javascripts.html.twig' %}
        {% block javascripts_page_snippets %}
            <script src="{{ asset('assets/widgets/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('assets/widgets/bootstrap-datetimepicker.js') }}"></script>
            <script src="{{ asset('assets/widgets/input-mask.js') }}"></script>
            {% if not app.request.session.has('phoneNumber') %}
                <script src="{{ asset('site/custom/customerAddresses.js') }}"></script>
            {% endif %}
            <script type="text/javascript">

                $('#m_form').validate({
                    rules: {
                        schedule_site_customer_phoneNumber: {required: true, phoneUS: true},
                        schedule_site_date: {required: true, dateISO: true},
                    }
                });

                $('#modalPhoneNumber').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: {% if app.request.session.has('phoneNumber') or app.request.session.has('newPhoneNumber') %}false{% else %}true{% endif %}
                }).on('shown.bs.modal', function (e) {
                    $('#phone_number').focus();
                });

                $('#form_phone_number').validate({
                    rules: {
                        phone_number: {required: true, phoneUS: true},
                    }, submitHandler: function (e) {
                        $('#btn-check-phone-number').addClass('m-loader m-loader--light m-loader--right');
                        $.post("{{ path('site_schedule_find_customer')|escape('js') }}", {'phone_number': $('#phone_number').inputmask('unmaskedvalue')},
                            function (data) {
                                if (data.success != null) {
                                    window.location.href = "{{ path('site_schedule_step_2')|escape('js') }}";
                                }
                            })
                            .fail(function () {
                                $('#modalPhoneNumber').modal('hide');
                                $('#schedule_site_customer_phoneNumber').inputmask('setvalue', $('#phone_number').val());
                            })
                            .always(function () {
                                $('#btn-check-phone-number').removeClass('m-loader m-loader--light m-loader--right');
                            });
                    }
                });

                $('#form_coupon_code').validate({
                    rules: {
                        coupon_code: {required: true},
                    }, submitHandler: function (e) {
                        $('#btn-check-coupon-code').addClass('m-loader m-loader--light m-loader--right');
                        $.post("{{ path('site_schedule_find_coupon_code')|escape('js') }}", {'coupon_code': $('#coupon_code').val()},
                            function (data) {
                                if (data.success != null) {
                                    window.location.href = "{{ path('site_schedule_step_2')|escape('js') }}";
                                }
                            })
                            .fail(function (data) {
                                swal({
                                    title: "",
                                    text: data.responseJSON.error,
                                    type: "error",
                                    confirmButtonClass: "btn btn-secondary m-btn m-btn--wide"
                                })
                            })
                            .always(function () {
                                $('#btn-check-coupon-code').removeClass('m-loader m-loader--light m-loader--right');
                            });
                    }
                });

                $('.input_timepicker').change(function (e) {

                    var date = $('#schedule_site_date').val();
                    var time_start = $('#schedule_site_startTime').val();
                    var time_end = $('#schedule_site_endTime').val();

                    if (date !== "" && time_start !== "" && time_end !== "") {

                        $('#check_availability').removeClass('m--hide');
                        $('#check_availability_loader').removeClass('m--hide');

                        $.post("{{ path('site_schedule_check_availability')|escape('js') }}", {
                                'date': date,
                                'start_time': time_start,
                                'end_time': time_end,
                            },
                            function (data) {
                                if (data.notavailable != null) {
                                    $('#check_availability_result').removeClass('m--hide');
                                    $('#check_availability_loader').addClass('m--hide');
                                    $('#client_details').addClass('m--hide');
                                    $('#schedule_submit').attr('disabled', true);
                                }
                                else {
                                    $('#check_availability_result').addClass('m--hide');
                                    $('#check_availability').addClass('m--hide');
                                    $('#client_details').removeClass('m--hide');
                                    $('#schedule_submit').attr('disabled', false);
                                }
                            })
                            .always(function () {
                                $('#check_availability_loader').addClass('m--hide');
                            });
                    }
                });

            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}