{% extends 'site/base.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-xl-9">
            <!--Begin::Main Portlet-->
            <div class="m-portlet">
                <!--begin: Portlet Head-->
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Carpet Cleaning Estimate
                                <small>
                                    Select Cleaning Services
                                </small>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">

                    </div>
                </div>
                <!--end: Portlet Head-->
                <!--begin: Form Wizard-->
                <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">
                    <!--begin: Message container -->
                    <div class="m-portlet__padding-x">
                        <!-- Here you can put a message or alert -->
                    </div>
                    <!--end: Message container -->
                    <!--begin: Form Wizard Head -->
                    <div class="m-wizard__head m-portlet__padding-x">
                        <div class="row">
                            <div class="col-xl-10 offset-xl-1">
                                <!--begin: Form Wizard Nav -->
                                <div class="m-wizard__nav">
                                    <div class="m-wizard__steps">
                                        <div class="m-wizard__step m-wizard__step--current"
                                             m-wizard-target="m_wizard_form_step_1">
                                            <div class="m-wizard__step-info">
                                                <a href="#" class="m-wizard__step-number">
                                                    <span class="m-wizard__step-seq">
                                                        1.
                                                    </span>
                                                    <span class="m-wizard__step-label">
                                                        Services
                                                    </span>
                                                    <span class="m-wizard__step-icon">
                                                        <i class="la la-check"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_2">
                                            <div class="m-wizard__step-info">
                                                <a href="#" class="m-wizard__step-number">
                                                    <span class="m-wizard__step-seq">
                                                        2.
                                                    </span>
                                                    <span class="m-wizard__step-label">
                                                        Appoitament
                                                    </span>
                                                    <span class="m-wizard__step-icon">
                                                        <i class="la la-check"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Form Wizard Nav -->
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Head -->
                    <!--begin: Form Wizard Form-->
                    <div class="m-wizard__form">
                        <!--
                            1) Use m-form--label-align-left class to alight the form input lables to the right
                            2) Use m-form--state class to highlight input control borders on form validation
                        -->
                        <form action="{{ path('site_schedule_step_1_post') }}" method="post"
                              class="m-form m-form--label-align-left- m-form--state-" id="m_form">
                            <input type="hidden" name="token" value="{{ csrf_token('add-items') }}"/>
                            <!--begin: Form Body -->
                            <div class="m-portlet__body">
                                <!--begin: Form Wizard Step 1-->
                                <div class="m-wizard__form-step m-wizard__form-step--current"
                                     id="m_wizard_form_step_1">
                                    <div class="row">
                                        <div class="col-xl-10 offset-xl-1">

                                            {{ include('_partials/_flash_messages.html.twig') }}

                                            {% for category in categories %}
                                                <div class="m-form__section {% if loop.index == 1 %}m-form__section--first{% endif %}" style="margin-top: 10px; margin-bottom: 30px;">
                                                    <div class="m-form__heading">
                                                        <h3 class="m-form__heading-title">
                                                            {{ category.title }}
                                                        </h3>
                                                    </div>
                                                    {% for item in items %}
                                                        {% if item.cleaningItemCategory.id == category.id %}
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-xl-3 col-lg-3 col-form-label">
                                                                    {{ item.title }}:
                                                                    <input type="hidden"
                                                                           name="items[{{ item.id }}][id]"
                                                                           value="{{ item.id }}">
                                                                </label>
                                                                <div class="col-xl-6 col-lg-6">
                                                                    {% if item.cleaningItemOptions.count > 0 %}
                                                                        <select name="items[{{ item.id }}][item_option]"
                                                                                class="form-control m-input">
                                                                            {% for option in  item.cleaningItemOptions %}
                                                                                <option value="{{ option.id }}">
                                                                                    {{ option.cleaningItemOption.title }}
                                                                                </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    {% else %}
                                                                        <p class="col-form-label">
                                                                            *{{ item.description }}</p>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-xl-3 col-lg-3">
                                                                    <select name="items[{{ item.id }}][quantity]"
                                                                            class="form-control m-input">
                                                                        <option value="0">Quantity</option>
                                                                        {% for i in 1..(item.maxQuantity) %}
                                                                            <option value="{{ i }}">{{ i }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                {% if not loop.last %}
                                                    {#<div class="m-separator m-separator--dashed m-separator--lg"></div>#}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!--end: Form Wizard Step 1-->
                            </div>
                            <!--end: Form Body -->
                            <!--begin: Form Actions -->
                            <div class="m-portlet__foot m-portlet__foot--fit __m--margin-top-40">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-4 m--align-left">
                                        </div>
                                        <div class="col-lg-6 m--align-right">
                                            <button type="submit"
                                                    class="btn btn-warning m-btn m-btn--custom m-btn--icon">
                                                <span>
                                                    <span>
                                                        Save & Continue
                                                    </span>&nbsp;&nbsp;
                                                    <i class="la la-arrow-right"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Actions -->
                        </form>
                    </div>
                    <!--end: Form Wizard Form-->
                </div>
                <!--end: Form Wizard-->
            </div>
            <!--End::Main Portlet-->
        </div>
        <div class="col-xl-3">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <p>
                                * Cleaning covers up to 500 sq. ft per room. Rooms larger than 500 sq. feet will be
                                priced as additional areas.
                            </p>
                            <p>
                                * Urine treatments cover up to 150 sq. feet per area. Treatments covering more than 150
                                sq. feet will be priced as additional areas.
                            </p>
                        </div>
                    </div>
                    <div class="m-separator m-separator--fit"></div>
                    <div class="m-widget1 m-widget1--paddingless">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <div class="form-group m-form__group" style="margin-bottom: 0">
                                        <label for="example_input_full_name">
                                            Zip Code: <span id="zip-code-success">
                                                {% if app.request.session.has('zipCode') %}{{ app.request.session.get('zipCode') }}{% endif %}
                                            </span>
                                        </label>
                                        <br>
                                        <button type="submit" class="btn btn-sm btn-accent m-btn--icon m-btn--air"
                                                id="btn-update-zip-code" style="margin-top: 10px">
                                            <span><i class="fa fa-map-marker"></i><span>Update</span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal zip code -->
    <form action="" method="post" class="m-form m-form--fit" id="form_zip_code" novalidate="novalidate">
        <div class="modal fade" id="modalZipCode" tabindex="-1" role="basic"
             aria-labelledby="modalZipCodeLabel">

            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Check Zip Code</h5>
                    </div>
                    <div class="modal-body">

                        <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
                            <div class="m-alert__icon">
                                <i class="la la-warning"></i>
                            </div>
                            <div class="m-alert__text">
                                We do not currently serve this area, please contact us: operation@azapservices.com
                                <br>
                                (888) 382-AZAP / (888) 382-2927
                            </div>
                        </div>
                        <div class="form-group m-form__group" style="padding-left:0; padding-right: 0;">
                            <input type="number" class="form-control m-input" name="zip_code" id="zip_code"
                                   required="required" aria-describedby="zipcode" placeholder="Enter zip code"
                                   minlength="2" maxlength="50">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air"
                                id="btn-check-zip-code">
                            <span><i class="fa fa-check"></i><span>Check</span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end modal zip code -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        /*$('#modalZipCode').modal({
            backdrop: 'static',
            keyboard: false,
            show: {% if app.request.session.has('zipCode') %}false{% else %}true{% endif %}
        }).on('shown.bs.modal', function (e) {
            $('#zip_code').focus();
        });*/

        $('#btn-update-zip-code').click(function () {
            $('#modalZipCode').modal('show');
            $('#zip_code').val('{{ app.request.session.get('zipCode') }}');
        });

        $('#form_zip_code').validate({
            rules: {
                zip_code: {required: true, number: true, minlength: 2, maxlength: 50},
            }, invalidHandler: function (e, t) {
                //...
            }, submitHandler: function (e) {
                $('#btn-check-zip-code').addClass('m-loader m-loader--light m-loader--right');
                $.post("{{ path('site_schedule_find_zip_code')|escape('js') }}", $('#form_zip_code').serialize(), function (data) {
                    if (data.success != null) {
                        $('#m_form_1_msg').addClass('m--hide').show();
                        $('#modalZipCode').modal('hide');
                        $('#zip-code-success').html($('#zip_code').val());
                    }
                }).fail(function () {
                    $('#m_form_1_msg').removeClass('m--hide').show();
                }).always(function () {
                    $('#btn-check-zip-code').removeClass('m-loader m-loader--light m-loader--right');
                });
            }
        })
    </script>
{% endblock %}